{% extends "EBUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ebride/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include "EBUserBundle:Profile:edit_content.html.twig" %}
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <!-- smalot/bootstrap-datetimepicker - Bootstrap DateTime picker -->
    <script type="text/javascript" src="{{ asset('bundles/ebride/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $("#fos_user_profile_form_birthDate").datetimepicker({
            format: "dd-mm-yyyy",
            weekStart: 1,
            todayBtn: true,
            minView: 2,
            endDate: "{{ 'now'|date('Y-m-d H:i') }}"
        });
        $("#fos_user_profile_form_drivingLicenceDate").datetimepicker({
            format: "dd-mm-yyyy",
            weekStart: 1,
            todayBtn: true,
            minView: 2,
            endDate: "{{ 'now'|date('Y-m-d H:i') }}"
        });
    </script>
    <!-- Google Maps JavaScript API v3 -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4v-bl8lRcjQV7Lu1culp3jbntnZ7NrZo&sensor=false&libraries=places&language=ro"></script>
    <script type="text/javascript">
        function initialize() {
            // locations input fields & options
            var cityInput = document.getElementById('fos_user_profile_form_city');
            var autocompleteOptions = {
                types: ['(cities)'],
                componentRestrictions: {country: 'ro'}
            };

            // startLocationAutocomplete & stopLocationAutocomplete
            var cityAutocomplete = new google.maps.places.Autocomplete(cityInput, autocompleteOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
