{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs nav-justified">
                {% set route = app.request.attributes.get('_route') %}
                <li class="{{ route == 'friend_index' ? 'active' }}">
                    <a href="{{ path('friend_index') }}">Friends</a>
                </li>
                <li class="{{ route == 'friend_search' or route == 'friend_search_results' ? 'active' }}">
                    <a href="{{ path('friend_search') }}">Search Friends</a>
                </li>
            </ul>
            <h2>Friends List</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Town/City</th>
                        <th>Is driver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friend in friends %}
                        <tr>
                            <td>
                                <a href="{{ path('eb_user_public_profile', {'username': friend.username}) }}">{{ friend.username }}</a>
                            </td>
                            <td>{{ friend.firstname }}</td>
                            <td>{{ friend.lastname }}</td>
                            <td>{{ friend.city }}</td>
                            <td>
                                {% if friend.isDriver %}
                                    <span class="glyphicon glyphicon-ok"></span> Yes
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span> No
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">You have no friends yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
