{% extends '::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Car</h1>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ car.id }}</td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>{{ car.brand }}</td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>{{ car.model }}</td>
                    </tr>
                    <tr>
                        <th>Build Year</th>
                        <td>{{ car.buildYear }}</td>
                    </tr>
                    <tr>
                        <th>Number Plate</th>
                        <td>{{ car.numberPlate }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{ car.color }}</td>
                    </tr>
                    <tr>
                        <th>AC</th>
                        <td>{{ car.hasAirConditioning }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('car') }}">
                Back to the list
            </a>
            <br />
            <a href="{{ path('car_edit', { 'id': car.id }) }}" class="btn btn-warning">
                Edit
            </a>

            {{ form(delete_form) }}
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
