{% extends '::base.html.twig' %}

{% form_theme edit_form 'EBRideBundle:Form:fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ebride/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-md-4">
            <h1>Ride edit</h1>

            <form action="{{ path('ride_update', {'id': ride.id}) }}" {{ form_enctype(edit_form) }} method="POST" role="form">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    {{ form_widget(edit_form.startDate, {attr: {placeholder: 'Start Date'}}) }}
                    {{ form_errors(edit_form.startDate) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.startLocation, {attr: {placeholder: 'Start Location'}}) }}
                    {{ form_errors(edit_form.startLocation) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.stopLocation, {attr: {placeholder: 'Stop Location'}}) }}
                    {{ form_errors(edit_form.stopLocation) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.emptySeatsNo, {attr: {placeholder: 'Empty Seats No'}}) }}
                    {{ form_errors(edit_form.emptySeatsNo) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.baggagePerSeat, {attr: {placeholder: 'Baggage Per Seat'}}) }}
                    {{ form_errors(edit_form.baggagePerSeat) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.comment, {attr: {placeholder: 'Comment'}}) }}
                    {{ form_errors(edit_form.comment) }}
                </div>
                <div class="checkbox">
                    {{ form_label(edit_form.isPublic) }}
                    {{ form_widget(edit_form.isPublic) }}
                    {{ form_errors(edit_form.isPublic) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.car) }}
                    {{ form_errors(edit_form.car) }}
                </div>
                <div class="form-group">
                    {{ form_widget(edit_form.rideStatus) }}
                    {{ form_errors(edit_form.rideStatus) }}
                </div>
                {{ form_rest(edit_form) }}
                <div class="form-group">
                    {{ form_widget(edit_form.submit) }}
                </div>
            </form>

            {{ form(delete_form) }}

            <a href="{{ path('ride') }}">
                Back to the list
            </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ebride/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $("#eb_ridebundle_ride_startDate").datetimepicker({
            format: "dd-mm-yyyy hh:ii",
            weekStart: 1,
            todayBtn: true,
            startDate: "{{ 'now'|date('Y-m-d H:i') }}"
        });
    </script>
{% endblock %}
