{% extends '::base.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ride list - title</h3>
        </div>
        <div class="panel-body">
            <h3 class="panel-title">Details about the rides</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Start Date</th>
                    <th>Stop Date</th>
                    <th>Start Location</th>
                    <th>Stop Location</th>
                    <th>Empty Seats No</th>
                    <th>Baggage Per Seat</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('ride_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.stopDate %}{{ entity.stopDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.startLocation }}</td>
                        <td>{{ entity.stopLocation }}</td>
                        <td>{{ entity.emptySeatsNo }}</td>
                        <td>{{ entity.baggagePerSeat }}</td>
                        <td>{{ entity.comment }}</td>
                        <td>
                            <a href="{{ path('ride_show', { 'id': entity.id }) }}">show</a>
                            <a href="{{ path('ride_edit', { 'id': entity.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="panel-footer">
            <a href="{{ path('ride_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock %}
