{% extends '::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-8">
            {% include 'EBRideBundle:Ride/Component:navbar.html.twig' %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ride list - title</h3>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title">Details about the rides</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Start Date</th>
                            <th>Start Location</th>
                            <th>Stop Location</th>
                            <th>Empty Seats No</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ride in pagination %}
                            <tr>
                                <td><a href="{{ path('ride_show', { 'id': ride.id }) }}">{{ ride.id }}</a></td>
                                <td>{% if ride.startDate %}{{ ride.startDate|date('d-m-Y H:i') }}{% endif %}</td>
                                <td>{{ ride.startLocation }}</td>
                                <td>{{ ride.stopLocation }}</td>
                                <td>{{ ride.emptySeatsNo }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('ride_show', { 'id': ride.id }) }}">Show</a></li>
                                            <li><a href="{{ path('ride_edit', { 'id': ride.id }) }}">Edit</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('ride_show_requesting_users', { 'id': ride.id }) }}">Requesting Users</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">You have no rides yet.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <a href="{{ path('ride_new') }}">
                        Create a new entry
                    </a>
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
